<!DOCTYPE html>
<html>
<head>
  <title><%= 'site.title'.t %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<%= content_tag :body, class: controller_name do %>
  <%= render 'layouts/navigation' %>
  <div class="container">
    <%= render 'layouts/header' %>
    <%= render 'layouts/flash' %>
    <%= yield %>
  </div>
  <%= render 'layouts/footer' %>
  <%= yield :bottom %>
  <script>
    $(function () {
      $.material.init();
    });
  </script>
<% end %>
</html>
